In [179]:
import glob
import pandas as pd

folder_path = r'C:\Users\bingy\Box\Data Set for Competition'
def load_dataframes(self, folder_path):
        csv_files = glob.glob(folder_path + '/*.csv')
        dataframes = []
        for file in csv_files:
            df = pd.read_csv(file)
            dataframes.append(df)
        return dataframes

class EDA():
    def __init__(self, dataframes):
        self.dataframes = dataframes    
    ### some simple EDA functions
    def print_types(self):
        for df in self.dataframes:
            print(df.dtypes)
    def print_shape(self):
        for df in self.dataframes:
            print(df.shape)

eda = EDA(load_dataframes(folder_path))

In [139]:
df[["no_of_accounts_with_syf_13_march","no_of_accounts_with_syf_18_march"]]

        no_of_accounts_with_syf_13_march  no_of_accounts_with_syf_18_march
0                                    1.0                               1.0
1                                    2.0                               2.0
2                                   12.0                              12.0
3                                    2.0                               2.0
4                                    6.0                               6.0
...                                  ...                               ...
904628                               6.0                               6.0
904629                               3.0                               3.0
904630                               2.0                               2.0
904631                               5.0                               5.0
904632                               5.0                               5.0

[904633 rows x 2 columns]

In [64]:
vc = df['reason'].value_counts()
pt = vc/sum(vc)*100
pt_main_idx = pt>0.1
pt_main = pt[pt_main_idx]
pt_main.name = 'percentage'


resolved_counts = df.groupby('reason')['resolved'].value_counts(normalize=True) * 100
resolved_counts = resolved_counts.loc[:, 'resolved']
print(resolved_counts)

dict = pd.read_csv("data/dictionary.csv")
merged_df = pt_main.to_frame().reset_index().merge(dict, left_on='reason', right_on='Code', how='left')
merged_df = merged_df.drop(columns=['Code'])
display(merged_df)

reason
AA     54.066751
AP     28.679245
AT     87.238955
AU     57.142857
BA     76.413872
         ...
me      8.914729
mm    100.000000
mn     33.504625
mp     34.456046
wa      8.028967
Name: proportion, Length: 63, dtype: float64

   reason  percentage IVR Call Reason for IVR Call Reporting
0      PP   39.197995                         PBP Predictive
1      BA   34.027611                        Account Summary
2      PT   12.404146                            PBP Request
3      AT    4.261065                   Account transactions
4      CT    1.229228                    CIT Change in Terms
5      AA    1.129408                             Activation
6      FD    0.867424                           Fraud detect
7      LS    0.733004                     Report lost stolen
8      wa    0.702163                         Request waiver
9      IC    0.395520                        Credit increase
10     IA    0.388113      Identification and authentication
11     AP    0.351524                   Address phone change
12     mp    0.328199                           menu payment
13     DP    0.323446                               Disputes
14     FM    0.311839         manage fraud - L/S with fraud
15     PI    0.250378                       Proactive Income
16     WA    0.239766                        Late fee waiver
17     CA    0.232802                          Close account
18     RC    0.231143                       Replacement card
19     CB    0.193228                  Credit balance refund
20     SP    0.190132                        Summary payment
21     iR    0.187258                                Rewards
22     RP    0.165371                            PIN Request
23     RV    0.159291                               Recovery
24     eL    0.129445                         eService Login
25     iL    0.117285                Refer customer to store
26     PA    0.116954                        Payment address
27     me    0.114079                          menu eService
28     DR    0.108000                           Decline Sale
29     mn    0.107557                           menu upfront

In [69]:
df_main = df[df['reason'].isin(pt_main.index)]
df_main.shape
resolved_rate = df_main.groupby('reason')["resolved"].apply(lambda x: (x.value_counts(normalize=True) * 100)['resolved'])

report = merged_df.merge(resolved_rate, left_on='reason', right_index=True)
report_sorted = report.sort_values(by='resolved', ascending=False)
display(report_sorted)

   reason  percentage IVR Call Reason for IVR Call Reporting   resolved
0      PP   39.197995                         PBP Predictive  95.339793
19     CB    0.193228                  Credit balance refund  94.508009
2      PT   12.404146                            PBP Request  92.768153
3      AT    4.261065                   Account transactions  87.238955
17     CA    0.232802                          Close account  84.615385
20     SP    0.190132                        Summary payment  78.895349
15     PI    0.250378                       Proactive Income  77.086093
1      BA   34.027611                        Account Summary  76.413872
22     RP    0.165371                            PIN Request  65.307487
28     DR    0.108000                           Decline Sale  54.247697
5      AA    1.129408                             Activation  54.066751
9      IC    0.395520                        Credit increase  52.459475
26     PA    0.116954                        Payment address  50.661626
10     IA    0.388113      Identification and authentication  44.431786
25     iL    0.117285                Refer customer to store  39.679548
16     WA    0.239766                        Late fee waiver  37.989857
12     mp    0.328199                           menu payment  34.456046
7      LS    0.733004                     Report lost stolen  34.218067
29     mn    0.107557                           menu upfront  33.504625
18     RC    0.231143                       Replacement card  32.185557
24     eL    0.129445                         eService Login  31.511529
11     AP    0.351524                   Address phone change  28.679245
21     iR    0.187258                                Rewards  18.181818
27     me    0.114079                          menu eService   8.914729
8      wa    0.702163                         Request waiver   8.028967
14     FM    0.311839         manage fraud - L/S with fraud    7.834101
23     RV    0.159291                               Recovery   7.009022
4      CT    1.229228                    CIT Change in Terms   3.758993
6      FD    0.867424                           Fraud detect   3.415318
13     DP    0.323446                               Disputes   1.572112

Feature understanding

In [86]:
mydf = df.iloc[:,:6]
mydf.sample(5)

,timestamp_call_key,retailer_code,serial,reason,mos,resolved
522569,240317160423 DAL6IJ1T,F,10009018544,BA,IA BA TS,resolved
238457,240317205720 PHX51B58,B,10002120301,BA,IA BA,resolved
555251,240314113710 DAL6PSE8,A,10001013750,BA,IA IA BA MR nl TR,floor
747548,240315110713 DAL4VTL1,A,10001057778,BA,IA IA BA,resolved
50170,240315071536 DAL5SWIL,D,10005017188,PT,IA BA MR nl PT TR,resolved

In [91]:
for col in mydf.columns:
    print(col, len(mydf[col].unique()))

timestamp_call_key 904633
retailer_code 25
serial 757220
reason 66
mos 28771
resolved 2

In [136]:
len(df) #re-calls

904633

In [99]:
df['retailer_code'].value_counts()

retailer_code
B    198320
A    188241
D    171362
C    126941
E    101345
F     23336
I     22511
G     17082
H     16064
J     14025
L      5850
K      5448
M      3561
O      2750
N      2369
Q      2112
P      1590
R       619
S       448
T       298
U       204
W        93
X        33
Y        28
V         3
Name: count, dtype: int64

In [138]:
df_serial = df['serial'].value_counts()
len(df_serial[df_serial>1])/len(df_serial)

0.1444098148490531

In [118]:
mos = set(list(dict['Code']))
func = (lambda x: x in mos)
df['reason'].apply(func).sum()==len(df['reason'])

True

In [124]:
dummy = pd.DataFrame(columns=list(mos), index=df.index)
dummy_df = pd.concat([df, dummy], axis=1)

In [128]:
from tqdm import tqdm
for i in df.index:
    strs = df[i,'mos'].split(" ")
for val in tqdm(list(mos)):
    dummy_df[val] = dummy_df['reason'].apply(lambda x: 1 if val in x else 0)

  0%|          | 0/154 [00:00<?, ?it/s]

100%|██████████| 154/154 [00:43<00:00,  3.51it/s]

In [132]:
df.loc[0,'mos'].split(" ")

['IA', 'PP', 'TR']

In [135]:
dataframes[1].columns

Index(['timestamp_call_key', 'retailer_code', 'serial', 'reason', 'mos',
       'resolved', 'no_of_accounts_with_syf_13_march',
       'account_balance_13_march', 'delinquency_history_13_march',
       'account_open_date_13_march', 'account_status_13_march',
       'card_activation_status_13_march', 'eservice_ind_13_march',
       'ebill_enrolled_status_13_march', 'auto_pay_enrolled_status_13_march',
       'no_of_accounts_with_syf_18_march', 'account_balance_18_march',
       'delinquency_history_18_march', 'account_open_date_18_march',
       'account_status_18_march', 'card_activation_status_18_march',
       'eservice_ind_18_march', 'ebill_enrolled_status_18_march',
       'auto_pay_enrolled_status_18_march'],
      dtype='object')

In [142]:
df["timestamp_call_key"].apply(lambda x: x[:6]).unique()

array(['240315', '240317', '240314', '240316', '240313'], dtype=object)

In [162]:
import seaborn as sns
column_name = 'account_balance_13_march'
quantiles = df[column_name].quantile([0.05, 0.125, 0.25, 0.5, 0.75])
print(quantiles)

0.050       0.00
0.125      16.61
0.250     112.73
0.500     464.39
0.750    1477.11
Name: account_balance_13_march, dtype: float64

In [166]:
(df['account_open_date_13_march']!=df['account_open_date_18_march']).sum()

2

In [165]:
len(df['account_open_date_13_march'])

904633

In [173]:
df['resolved'] = (df['resolved']=='resolved')

In [171]:
objects_columns = ["account_status_13_march","delinquency_history_13_march", "card_activation_status_13_march","ebill_enrolled_status_13_march" ]
objects_columns_new = ["account_status_18_march","delinquency_history_18_march", "card_activation_status_18_march","ebill_enrolled_status_18_march" ]

In [177]:
for col,col_new in zip(objects_columns,objects_columns_new):
    idx = (df[col] != df[col_new])
    print(df.loc[idx,'resolved'].sum()/len(idx))

0.8039635962871131
0.01130624242095966
0.007505806221970677
0.0037816440479177746

In [ ]:
correlation_matrix = df.corr()

In [ ]:
class preprocess():
    def __init__(self):
        pass

    def process(self,df):
        df = self.turn_mos_into_numbers(df)
        return df   
    
    def turn_mos_into_numbers(self,df):
        
        return df