In [59]:
import glob
import pandas as pd

def load_dataframes(folder_path):
        csv_files = glob.glob(folder_path + '/*.csv')
        dataframes = []
        for file in csv_files:
            df = pd.read_csv(file)
            dataframes.append(df)
        return dataframes

folder_path = r'C:\Users\benni\Box\Data Set for Competition'
dataframes = load_dataframes(folder_path)

In [195]:
from models.skmodels import model
mymodel = model("LinearRegression")

TypeError: model.__init__() missing 1 required positional argument: 'name'

In [183]:
class EDA():
    def __init__(self, dataframes):
        self.dataframes = dataframes    
        self.prepare_columns()
        
    def prepare_columns(self):
        self.num_idx = []
        self.cat_idx = []
        self.cat_dim = []
        pass
    
    ### some simple EDA functions
    def print_types(self):
        for df in self.dataframes:
            print(df.dtypes)
    def print_shape(self):
        for df in self.dataframes:
            print(df.shape)
    

eda = EDA(dataframes=dataframes)

In [184]:
df = dataframes[0]

In [185]:
(df["no_of_accounts_with_syf_13_march"] !=df["no_of_accounts_with_syf_18_march"]).sum()

12151

In [64]:
vc = df['reason'].value_counts()
pt = vc/sum(vc)*100
pt_main_idx = pt>0.1
pt_main = pt[pt_main_idx]
pt_main.name = 'percentage'


resolved_counts = df.groupby('reason')['resolved'].value_counts(normalize=True) * 100
resolved_counts = resolved_counts.loc[:, 'resolved']
print(resolved_counts)

dict = pd.read_csv("data/dictionary.csv")
merged_df = pt_main.to_frame().reset_index().merge(dict, left_on='reason', right_on='Code', how='left')
merged_df = merged_df.drop(columns=['Code'])
display(merged_df)

reason
AA     54.066751
AP     28.679245
AT     87.238955
AU     57.142857
BA     76.413872
         ...
me      8.914729
mm    100.000000
mn     33.504625
mp     34.456046
wa      8.028967
Name: proportion, Length: 63, dtype: float64

   reason  percentage IVR Call Reason for IVR Call Reporting
0      PP   39.197995                         PBP Predictive
1      BA   34.027611                        Account Summary
2      PT   12.404146                            PBP Request
3      AT    4.261065                   Account transactions
4      CT    1.229228                    CIT Change in Terms
5      AA    1.129408                             Activation
6      FD    0.867424                           Fraud detect
7      LS    0.733004                     Report lost stolen
8      wa    0.702163                         Request waiver
9      IC    0.395520                        Credit increase
10     IA    0.388113      Identification and authentication
11     AP    0.351524                   Address phone change
12     mp    0.328199                           menu payment
13     DP    0.323446                               Disputes
14     FM    0.311839         manage fraud - L/S with fraud
15     PI    0.250378                       Proactive Income
16     WA    0.239766                        Late fee waiver
17     CA    0.232802                          Close account
18     RC    0.231143                       Replacement card
19     CB    0.193228                  Credit balance refund
20     SP    0.190132                        Summary payment
21     iR    0.187258                                Rewards
22     RP    0.165371                            PIN Request
23     RV    0.159291                               Recovery
24     eL    0.129445                         eService Login
25     iL    0.117285                Refer customer to store
26     PA    0.116954                        Payment address
27     me    0.114079                          menu eService
28     DR    0.108000                           Decline Sale
29     mn    0.107557                           menu upfront

In [69]:
df_main = df[df['reason'].isin(pt_main.index)]
df_main.shape
resolved_rate = df_main.groupby('reason')["resolved"].apply(lambda x: (x.value_counts(normalize=True) * 100)['resolved'])

report = merged_df.merge(resolved_rate, left_on='reason', right_index=True)
report_sorted = report.sort_values(by='resolved', ascending=False)
display(report_sorted)

   reason  percentage IVR Call Reason for IVR Call Reporting   resolved
0      PP   39.197995                         PBP Predictive  95.339793
19     CB    0.193228                  Credit balance refund  94.508009
2      PT   12.404146                            PBP Request  92.768153
3      AT    4.261065                   Account transactions  87.238955
17     CA    0.232802                          Close account  84.615385
20     SP    0.190132                        Summary payment  78.895349
15     PI    0.250378                       Proactive Income  77.086093
1      BA   34.027611                        Account Summary  76.413872
22     RP    0.165371                            PIN Request  65.307487
28     DR    0.108000                           Decline Sale  54.247697
5      AA    1.129408                             Activation  54.066751
9      IC    0.395520                        Credit increase  52.459475
26     PA    0.116954                        Payment address  50.661626
10     IA    0.388113      Identification and authentication  44.431786
25     iL    0.117285                Refer customer to store  39.679548
16     WA    0.239766                        Late fee waiver  37.989857
12     mp    0.328199                           menu payment  34.456046
7      LS    0.733004                     Report lost stolen  34.218067
29     mn    0.107557                           menu upfront  33.504625
18     RC    0.231143                       Replacement card  32.185557
24     eL    0.129445                         eService Login  31.511529
11     AP    0.351524                   Address phone change  28.679245
21     iR    0.187258                                Rewards  18.181818
27     me    0.114079                          menu eService   8.914729
8      wa    0.702163                         Request waiver   8.028967
14     FM    0.311839         manage fraud - L/S with fraud    7.834101
23     RV    0.159291                               Recovery   7.009022
4      CT    1.229228                    CIT Change in Terms   3.758993
6      FD    0.867424                           Fraud detect   3.415318
13     DP    0.323446                               Disputes   1.572112

In [86]:
mydf = df.iloc[:,:6]
mydf.sample(5)

,timestamp_call_key,retailer_code,serial,reason,mos,resolved
522569,240317160423 DAL6IJ1T,F,10009018544,BA,IA BA TS,resolved
238457,240317205720 PHX51B58,B,10002120301,BA,IA BA,resolved
555251,240314113710 DAL6PSE8,A,10001013750,BA,IA IA BA MR nl TR,floor
747548,240315110713 DAL4VTL1,A,10001057778,BA,IA IA BA,resolved
50170,240315071536 DAL5SWIL,D,10005017188,PT,IA BA MR nl PT TR,resolved

In [91]:
for col in mydf.columns:
    print(col, len(mydf[col].unique()))

timestamp_call_key 904633
retailer_code 25
serial 757220
reason 66
mos 28771
resolved 2

In [136]:
len(df) #re-calls

904633

In [193]:
df['retailer_code'].value_counts().transpose()

retailer_code
B    198320
A    188241
D    171362
C    126941
E    101345
F     23336
I     22511
G     17082
H     16064
J     14025
L      5850
K      5448
M      3561
O      2750
N      2369
Q      2112
P      1590
R       619
S       448
T       298
U       204
W        93
X        33
Y        28
V         3
Name: count, dtype: int64

In [138]:
df_serial = df['serial'].value_counts()
len(df_serial[df_serial>1])/len(df_serial)

0.1444098148490531

In [118]:
mos = set(list(dict['Code']))
func = (lambda x: x in mos)
df['reason'].apply(func).sum()==len(df['reason'])

True

In [124]:
dummy = pd.DataFrame(columns=list(mos), index=df.index)
dummy_df = pd.concat([df, dummy], axis=1)

In [128]:
from tqdm import tqdm
for i in df.index:
    strs = df[i,'mos'].split(" ")
for val in tqdm(list(mos)):
    dummy_df[val] = dummy_df['reason'].apply(lambda x: 1 if val in x else 0)

  0%|          | 0/154 [00:00<?, ?it/s]

100%|██████████| 154/154 [00:43<00:00,  3.51it/s]

In [132]:
df.loc[0,'mos'].split(" ")

['IA', 'PP', 'TR']

In [135]:
dataframes[1].columns

Index(['timestamp_call_key', 'retailer_code', 'serial', 'reason', 'mos',
       'resolved', 'no_of_accounts_with_syf_13_march',
       'account_balance_13_march', 'delinquency_history_13_march',
       'account_open_date_13_march', 'account_status_13_march',
       'card_activation_status_13_march', 'eservice_ind_13_march',
       'ebill_enrolled_status_13_march', 'auto_pay_enrolled_status_13_march',
       'no_of_accounts_with_syf_18_march', 'account_balance_18_march',
       'delinquency_history_18_march', 'account_open_date_18_march',
       'account_status_18_march', 'card_activation_status_18_march',
       'eservice_ind_18_march', 'ebill_enrolled_status_18_march',
       'auto_pay_enrolled_status_18_march'],
      dtype='object')

In [142]:
df["timestamp_call_key"].apply(lambda x: x[:6]).unique()

array(['240315', '240317', '240314', '240316', '240313'], dtype=object)

In [162]:
import seaborn as sns
column_name = 'account_balance_13_march'
quantiles = df[column_name].quantile([0.05, 0.125, 0.25, 0.5, 0.75])
print(quantiles)

0.050       0.00
0.125      16.61
0.250     112.73
0.500     464.39
0.750    1477.11
Name: account_balance_13_march, dtype: float64

In [166]:
(df['account_open_date_13_march']!=df['account_open_date_18_march']).sum()

2

In [165]:
len(df['account_open_date_13_march'])

904633

In [173]:
df['resolved'] = (df['resolved']=='resolved')

In [171]:
objects_columns = ["account_status_13_march","delinquency_history_13_march", "card_activation_status_13_march","ebill_enrolled_status_13_march" ]
objects_columns_new = ["account_status_18_march","delinquency_history_18_march", "card_activation_status_18_march","ebill_enrolled_status_18_march" ]

In [177]:
for col,col_new in zip(objects_columns,objects_columns_new):
    idx = (df[col] != df[col_new])
    print(df.loc[idx,'resolved'].sum()/len(idx))

0.8039635962871131
0.01130624242095966
0.007505806221970677
0.0037816440479177746

In [ ]:
class preprocess():
    def __init__(self):
        pass

    def process(self,df):
        df = self.process_mos_rough(df)
        return df   
    
    def process_mos_rough(self,df):
        df['mos_count'] = df['mos'].apply(lambda x: len(x.split(" ")))
        df['mos_TR'] = df['mos'].apply(lambda x: 1 if 'TR' in x else 0)
        return df 
    
    def process_mos_one_hot(self,df):
        pass

In [60]:
df = pd.concat((dataframes[0],dataframes[1]),axis=0)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1798798 entries, 0 to 894164
Data columns (total 24 columns):
 #   Column                             Dtype
---  ------                             -----
 0   timestamp_call_key                 object
 1   retailer_code                      object
 2   serial                             int64
 3   reason                             object
 4   mos                                object
 5   resolved                           float64
 6   no_of_accounts_with_syf_13_march   float64
 7   account_balance_13_march           float64
 8   delinquency_history_13_march       object
 9   account_open_date_13_march         object
 10  account_status_13_march            object
 11  card_activation_status_13_march    object
 12  eservice_ind_13_march              int64
 13  ebill_enrolled_status_13_march     object
 14  auto_pay_enrolled_status_13_march  int64
 15  no_of_accounts_with_syf_18_march   float64
 16  account_balance_18_march           float64
 17  delinquency_history_18_march       object
 18  account_open_date_18_march         object
 19  account_status_18_march            object
 20  card_activation_status_18_march    object
 21  eservice_ind_18_march              int64
 22  ebill_enrolled_status_18_march     object
 23  auto_pay_enrolled_status_18_march  int64
dtypes: float64(5), int64(5), object(14)
memory usage: 343.1+ MB

In [43]:
for column in df.columns:
    print(column, df[column].unique())

timestamp_call_key ['240315173250 DAL1OA3M' '240315124742 DAL15XHK' '240317114237 DAL3BLK6'
 ... '240316190932 PHX2S13U' '240317213341 PHX35A2C'
 '240316115154 PHX3G20E']
retailer_code ['D' 'E' 'J' 'I' 'B' 'A' 'C' 'H' 'N' 'M' 'P' 'O' 'Q' 'G' 'K' 'F' 'L' 'U'
 'T' 'R' 'S' 'V' 'X' 'W' 'Y' 'a' 'e' 'b' 'c' 'g' 'j' 'l' 'd' 'i' 'h' 'o'
 'f' 'k' 'n' 'm' 'q' 'p' 't' 'r' 's']
serial [10010009499 10006021998 10016007830 ... 20001160188 20010020211
 20010013226]
reason ['PP' 'BA' 'PT' 'PS' 'eL' 'AP' 'FD' 'DR' 'AT' 'RP' 'wa' 'MP' 'iM' 'CT'
 'mp' 'me' 'WA' 'iR' 'eY' 'AA' 'DP' 'FM' 'CA' 'IA' 'IC' 'RC' 'RV' 'LC'
 'CB' 'PA' 'RI' 'eP' 'FR' 'LS' 'SP' 'mn' 'PI' 'SR' 'iL' 'iF' 'CD' 'mP'
 'GA' 'PC' 'DE' 'Pd' 'eR' 'FI' 'iA' 'NU' 'iP' 'VP' 'ER' 'VA' 'eA' 'OB'
 'CS' 'AU' 'iS' 'm-' 'iO' 'RS' 'mm' 'Ls' 'eS' 'BL' 'LW' 'mt' 'eB' 'ss'
 'mo' 'iT' 'HI']
mos ['IA PP TR' 'IA BA TS nl TR' 'IA AA BA MR nl PT TR' ...
 'mn IA IA PI BA TS nl RC nl TR' 'mn IA PP BA MR nl WA nl BA nl mt'
 'IA AA BA TS nl LS nl nl LS TR']
resolved [1. 0.]
no_of_accounts_with_syf_13_march [  1.   2.  12.   6.   3.   4.   5.  14.   8.   7.  17.  10.  11.  18.
   9.  16.  19.  13.  24.  21.  15.  20.  nan  37.  23.  29.  22.  28.
  26.  25.  46.  30.  38.  27.  42.  52.  50.  36.  34.  32.  31.  33.
  35.  40.  63.  43.  44.  48. 121.  57.  51.  53.  60.  45.  39.  47.
  41.  49.  56.  61.  54.  55.]
account_balance_13_march [    nan  143.28    0.   ... 3376.91 3003.14 9446.97]
delinquency_history_13_march ['[00]' '[02]' '[03]' '[20]' '[32]' '[22]' '[43]' '[23]' '[54]' '[76]'
 '[07]' '[08]' '[88]' '[05]' '[56]' '[04]' '[06]' '[33]' '[25]' '[65]'
 '[34]' '[35]' '[48]' '[24]' '[87]' '[44]' '[55]' '[46]' '[47]' '[30]'
 '[66]' '[26]' '[58]' '[37]' '[68]' '[45]' '[57]' '[36]' '[77]' '[67]'
 '[78]' '[27]' '[40]' '[53]' '[42]']
account_open_date_13_march ['5/19/2013' '9/22/2003' '9/4/2017' ... '3/22/1976' '3/22/1988'
 '6/30/1982']
account_status_13_march [nan 'E' 'F' 'A' 'Z' 'C' 'L' 'I' 'U' 'B']
card_activation_status_13_march ['0' '8' '7' ' ']
eservice_ind_13_march [1 0]
ebill_enrolled_status_13_march ['E' ' ' 'L' 'D' 'B' nan]
auto_pay_enrolled_status_13_march [0 1]
no_of_accounts_with_syf_18_march [  1.   2.  12.   6.   3.   4.   5.  14.   8.   7.  17.  10.  11.  18.
   9.  16.  19.  13.  24.  21.  15.  20.  nan  37.  23.  29.  22.  28.
  26.  25.  46.  30.  38.  27.  42.  52.  50.  36.  34.  32.  31.  33.
  35.  40.  63.  43.  44.  48. 121.  57.  51.  53.  60.  45.  39.  47.
  41.  49.  56.  61.  54.  55.]
account_balance_18_march [    nan  143.28    0.   ... 3376.91 3003.14 8945.97]
delinquency_history_18_march ['[00]' '[02]' '[03]' '[20]' '[22]' '[32]' '[43]' '[23]' '[54]' '[76]'
 '[07]' '[08]' '[88]' '[25]' '[05]' '[56]' '[04]' '[06]' '[33]' '[65]'
 '[34]' '[35]' '[48]' '[24]' '[87]' '[44]' '[66]' '[37]' '[55]' '[38]'
 '[47]' '[78]' '[30]' '[46]' '[58]' '[45]' '[57]' '[67]' '[26]' '[27]'
 '[68]' '[40]' '[77]' '[36]' '[53]' '[80]' '[42]']
account_open_date_18_march ['5/19/2013' '9/22/2003' '9/4/2017' ... '3/22/1976' '3/22/1988'
 '6/30/1982']
account_status_18_march [nan 'F' 'E' 'L' 'Z' 'A' 'C' 'I' 'U' 'B']
card_activation_status_18_march ['0' '8' '7' ' ']
eservice_ind_18_march [1 0]
ebill_enrolled_status_18_march ['E' ' ' 'L' 'B' nan 'D']
auto_pay_enrolled_status_18_march [0 1]

In [61]:
import numpy as np
no_accounts_cols = [col for col in df.columns if 'no_of_accounts' in col]
balance_cols = [col for col in df.columns if 'account_balance' in col]
df[no_accounts_cols] = df[no_accounts_cols].apply(lambda y: y.apply(lambda x: 0 if np.isnan(x) else x), axis = 0)
df[balance_cols ] = df[balance_cols ].apply(lambda y: y.apply(lambda x: 0 if np.isnan(x) else x), axis = 0)
for column in df.columns:
    print(column, df[column].unique())
#activation_cols = [col for col in df.columns if 'card_activation_status' in col]
#deliq_history_cols = [col for col in df.columns if 'delinquency_history' in col]
#ebill_cols = [col for col in df.columns if 'ebill_enrolled_status' in col]
#account_status_cols = [col for col in df.columns if 'account_status' in col]
#e_service_cols = [col for col in df.columns if 'eservice' in col]
#print(no_accounts_cols, balance_cols, activation_cols, deliq_history_cols, ebill_cols, account_status_cols, e_service_cols)

timestamp_call_key ['240315173250 DAL1OA3M' '240315124742 DAL15XHK' '240317114237 DAL3BLK6'
 ... '240316190932 PHX2S13U' '240317213341 PHX35A2C'
 '240316115154 PHX3G20E']
retailer_code ['D' 'E' 'J' 'I' 'B' 'A' 'C' 'H' 'N' 'M' 'P' 'O' 'Q' 'G' 'K' 'F' 'L' 'U'
 'T' 'R' 'S' 'V' 'X' 'W' 'Y' 'a' 'e' 'b' 'c' 'g' 'j' 'l' 'd' 'i' 'h' 'o'
 'f' 'k' 'n' 'm' 'q' 'p' 't' 'r' 's']
serial [10010009499 10006021998 10016007830 ... 20001160188 20010020211
 20010013226]
reason ['PP' 'BA' 'PT' 'PS' 'eL' 'AP' 'FD' 'DR' 'AT' 'RP' 'wa' 'MP' 'iM' 'CT'
 'mp' 'me' 'WA' 'iR' 'eY' 'AA' 'DP' 'FM' 'CA' 'IA' 'IC' 'RC' 'RV' 'LC'
 'CB' 'PA' 'RI' 'eP' 'FR' 'LS' 'SP' 'mn' 'PI' 'SR' 'iL' 'iF' 'CD' 'mP'
 'GA' 'PC' 'DE' 'Pd' 'eR' 'FI' 'iA' 'NU' 'iP' 'VP' 'ER' 'VA' 'eA' 'OB'
 'CS' 'AU' 'iS' 'm-' 'iO' 'RS' 'mm' 'Ls' 'eS' 'BL' 'LW' 'mt' 'eB' 'ss'
 'mo' 'iT' 'HI']
mos ['IA PP TR' 'IA BA TS nl TR' 'IA AA BA MR nl PT TR' ...
 'mn IA IA PI BA TS nl RC nl TR' 'mn IA PP BA MR nl WA nl BA nl mt'
 'IA AA BA TS nl LS nl nl LS TR']
resolved ['resolved' 'floor']
no_of_accounts_with_syf_13_march [  1.   2.  12.   6.   3.   4.   5.  14.   8.   7.  17.  10.  11.  18.
   9.  16.  19.  13.  24.  21.  15.  20.   0.  37.  23.  29.  22.  28.
  26.  25.  46.  30.  38.  27.  42.  52.  50.  36.  34.  32.  31.  33.
  35.  40.  63.  43.  44.  48. 121.  57.  51.  53.  60.  45.  39.  47.
  41.  49.  56.  61.  54.  55.]
account_balance_13_march [   0.    143.28   44.98 ... 3376.91 3003.14 9446.97]
delinquency_history_13_march ['[00]' '[02]' '[03]' '[20]' '[32]' '[22]' '[43]' '[23]' '[54]' '[76]'
 '[07]' '[08]' '[88]' '[05]' '[56]' '[04]' '[06]' '[33]' '[25]' '[65]'
 '[34]' '[35]' '[48]' '[24]' '[87]' '[44]' '[55]' '[46]' '[47]' '[30]'
 '[66]' '[26]' '[58]' '[37]' '[68]' '[45]' '[57]' '[36]' '[77]' '[67]'
 '[78]' '[27]' '[40]' '[53]' '[42]']
account_open_date_13_march ['5/19/2013' '9/22/2003' '9/4/2017' ... '3/22/1976' '3/22/1988'
 '6/30/1982']
account_status_13_march [nan 'E' 'F' 'A' 'Z' 'C' 'L' 'I' 'U' 'B']
card_activation_status_13_march ['0' '8' '7' ' ']
eservice_ind_13_march [1 0]
ebill_enrolled_status_13_march ['E' ' ' 'L' 'D' 'B' nan]
auto_pay_enrolled_status_13_march [0 1]
no_of_accounts_with_syf_18_march [  1.   2.  12.   6.   3.   4.   5.  14.   8.   7.  17.  10.  11.  18.
   9.  16.  19.  13.  24.  21.  15.  20.   0.  37.  23.  29.  22.  28.
  26.  25.  46.  30.  38.  27.  42.  52.  50.  36.  34.  32.  31.  33.
  35.  40.  63.  43.  44.  48. 121.  57.  51.  53.  60.  45.  39.  47.
  41.  49.  56.  61.  54.  55.]
account_balance_18_march [ 0.00000e+00  1.43280e+02 -6.32000e+00 ...  3.37691e+03  3.00314e+03
  8.94597e+03]
delinquency_history_18_march ['[00]' '[02]' '[03]' '[20]' '[22]' '[32]' '[43]' '[23]' '[54]' '[76]'
 '[07]' '[08]' '[88]' '[25]' '[05]' '[56]' '[04]' '[06]' '[33]' '[65]'
 '[34]' '[35]' '[48]' '[24]' '[87]' '[44]' '[66]' '[37]' '[55]' '[38]'
 '[47]' '[78]' '[30]' '[46]' '[58]' '[45]' '[57]' '[67]' '[26]' '[27]'
 '[68]' '[40]' '[77]' '[36]' '[53]' '[80]' '[42]']
account_open_date_18_march ['5/19/2013' '9/22/2003' '9/4/2017' ... '3/22/1976' '3/22/1988'
 '6/30/1982']
account_status_18_march [nan 'F' 'E' 'L' 'Z' 'A' 'C' 'I' 'U' 'B']
card_activation_status_18_march ['0' '8' '7' ' ']
eservice_ind_18_march [1 0]
ebill_enrolled_status_18_march ['E' ' ' 'L' 'B' nan 'D']
auto_pay_enrolled_status_18_march [0 1]

In [83]:
import numpy as np
df = pd.concat((dataframes[0],dataframes[1]),axis=0)
no_accounts_cols = [col for col in df.columns if 'no_of_accounts' in col]
balance_cols = [col for col in df.columns if 'account_balance' in col]
df[no_accounts_cols] = df[no_accounts_cols].apply(lambda y: y.apply(lambda x: 0 if np.isnan(x) else x), axis = 0)
df[balance_cols ] = df[balance_cols ].apply(lambda y: y.apply(lambda x: 0 if np.isnan(x) else x), axis = 0)
mapping = {'resolved': {val:i for i, val in enumerate(df['resolved'].unique())}
            , 'card_activation': {val:i for i, val in enumerate(set(list(df['card_activation_status_13_march'].unique())+list(df['card_activation_status_18_march'].unique())))}
            , 'eservice': {val:i for i, val in enumerate(set(list(df['eservice_ind_13_march'].unique())+list(df['eservice_ind_18_march'].unique())))}
            , 'account_status': {val:i for i, val in enumerate(set(list(df['account_status_13_march'].unique())+list(df['account_status_18_march'].unique())))}
            , 'delinquency_history': {val:i for i, val in enumerate(set(list(df['delinquency_history_13_march'].unique())+list(df['delinquency_history_18_march'].unique())))}
            , 'retailer_code': {val:i for i, val in enumerate(df['retailer_code'].unique())}
            , 'ebill':{val:i for i, val in enumerate(set(list(df['ebill_enrolled_status_13_march'].unique())+list(df['ebill_enrolled_status_18_march'].unique())))}
         }

df['resolved'] = df['resolved'].map(mapping['resolved'])
df['card_activation_status_13_march'] = df['card_activation_status_13_march'].map(mapping['card_activation'])
df['card_activation_status_18_march'] = df['card_activation_status_18_march'].map(mapping['card_activation'])
df['eservice_ind_13_march'] = df['eservice_ind_13_march'].map(mapping['eservice'])
df['eservice_ind_18_march'] = df['eservice_ind_18_march'].map(mapping['eservice'])
df['account_status_13_march'] = df['account_status_13_march'].map(mapping['account_status'])
df['account_status_18_march'] = df['account_status_18_march'].map(mapping['account_status'])
df['delinquency_history_13_march'] = df['delinquency_history_13_march'].map(mapping['delinquency_history'])
df['delinquency_history_18_march'] = df['delinquency_history_18_march'].map(mapping['delinquency_history'])
df['retailer_code'] = df['retailer_code'].map(mapping['retailer_code'])
df['ebill_enrolled_status_13_march'] = df['ebill_enrolled_status_13_march'].map(mapping['ebill'])
df['ebill_enrolled_status_18_march'] = df['ebill_enrolled_status_18_march'].map(mapping['ebill'])

In [84]:
print(df.columns)
mapping

Index(['timestamp_call_key', 'retailer_code', 'serial', 'reason', 'mos',
       'resolved', 'no_of_accounts_with_syf_13_march',
       'account_balance_13_march', 'delinquency_history_13_march',
       'account_open_date_13_march', 'account_status_13_march',
       'card_activation_status_13_march', 'eservice_ind_13_march',
       'ebill_enrolled_status_13_march', 'auto_pay_enrolled_status_13_march',
       'no_of_accounts_with_syf_18_march', 'account_balance_18_march',
       'delinquency_history_18_march', 'account_open_date_18_march',
       'account_status_18_march', 'card_activation_status_18_march',
       'eservice_ind_18_march', 'ebill_enrolled_status_18_march',
       'auto_pay_enrolled_status_18_march'],
      dtype='object')

{'resolved': {'resolved': 0, 'floor': 1},
 'card_activation': {'8': 0, ' ': 1, '0': 2, '7': 3},
 'eservice': {0: 0, 1: 1},
 'account_status': {'U': 0,
  'A': 1,
  'L': 2,
  'I': 3,
  'E': 4,
  nan: 5,
  'F': 6,
  'Z': 7,
  'C': 8,
  'B': 9},
 'delinquency_history': {'[26]': 0,
  '[00]': 1,
  '[76]': 2,
  '[25]': 3,
  '[07]': 4,
  '[36]': 5,
  '[30]': 6,
  '[68]': 7,
  '[32]': 8,
  '[87]': 9,
  '[53]': 10,
  '[46]': 11,
  '[47]': 12,
  '[54]': 13,
  '[04]': 14,
  '[06]': 15,
  '[80]': 16,
  '[57]': 17,
  '[35]': 18,
  '[65]': 19,
  '[44]': 20,
  '[43]': 21,
  '[58]': 22,
  '[67]': 23,
  '[55]': 24,
  '[23]': 25,
  '[77]': 26,
  '[02]': 27,
  '[42]': 28,
  '[27]': 29,
  '[33]': 30,
  '[45]': 31,
  '[88]': 32,
  '[08]': 33,
  '[56]': 34,
  '[48]': 35,
  '[20]': 36,
  '[66]': 37,
  '[03]': 38,
  '[05]': 39,
  '[78]': 40,
  '[24]': 41,
  '[38]': 42,
  '[37]': 43,
  '[40]': 44,
  '[22]': 45,
  '[34]': 46},
 'retailer_code': {'D': 0,
  'E': 1,
  'J': 2,
  'I': 3,
  'B': 4,
  'A': 5,
  'C': 6,
  'H': 7,
  'N': 8,
  'M': 9,
  'P': 10,
  'O': 11,
  'Q': 12,
  'G': 13,
  'K': 14,
  'F': 15,
  'L': 16,
  'U': 17,
  'T': 18,
  'R': 19,
  'S': 20,
  'V': 21,
  'X': 22,
  'W': 23,
  'Y': 24,
  'a': 25,
  'e': 26,
  'b': 27,
  'c': 28,
  'g': 29,
  'j': 30,
  'l': 31,
  'd': 32,
  'i': 33,
  'h': 34,
  'o': 35,
  'f': 36,
  'k': 37,
  'n': 38,
  'm': 39,
  'q': 40,
  'p': 41,
  't': 42,
  'r': 43,
  's': 44},
 'ebill': {'L': 0, 'E': 1, nan: 2, 'D': 3, ' ': 4, 'B': 5}}

In [79]:
df['no_of_accounts_diff'] = df.apply(lambda x:1 if x['no_of_accounts_with_syf_13_march'] != x['no_of_accounts_with_syf_18_march'] else 0 , axis=1)
df['account_balance_diff'] = df.apply(lambda x: 1 if x['account_balance_13_march'] != x['account_balance_18_march'] else 0, axis=1)
df['card_activation_status_diff'] = df.apply(lambda x: 1 if x['card_activation_status_13_march'] != x['card_activation_status_18_march'] else 0, axis=1)
df['delinquency_history_diff'] = df.apply(lambda x: 1 if x['delinquency_history_13_march'] != x['delinquency_history_18_march'] else 0, axis=1)
df['ebill_enrolled_status_diff'] = df.apply(lambda x: 1 if x['ebill_enrolled_status_13_march'] != x['ebill_enrolled_status_18_march'] else 0, axis=1)
df['account_status_diff'] = df.apply(lambda x: 1 if x['account_status_13_march'] != x['account_status_18_march'] else 0, axis=1)
df['account_open_date_diff'] = df.apply(lambda x: 1 if x['account_open_date_13_march'] != x['account_open_date_18_march'] else 0, axis=1)
df['eservice_diff'] = df.apply(lambda x: 1 if x['eservice_ind_13_march'] != x['eservice_ind_18_march'] else 0, axis=1)

In [81]:
pd.pandas.set_option('display.max_columns', None)
df

,timestamp_call_key,retailer_code,serial,reason,mos,resolved,no_of_accounts_with_syf_13_march,account_balance_13_march,delinquency_history_13_march,account_open_date_13_march,account_status_13_march,card_activation_status_13_march,eservice_ind_13_march,ebill_enrolled_status_13_march,auto_pay_enrolled_status_13_march,no_of_accounts_with_syf_18_march,account_balance_18_march,delinquency_history_18_march,account_open_date_18_march,account_status_18_march,card_activation_status_18_march,eservice_ind_18_march,ebill_enrolled_status_18_march,auto_pay_enrolled_status_18_march,no_of_accounts_diff,account_balance_diff,card_activation_status_diff,delinquency_history_diff,ebill_enrolled_status_diff,account_status_diff,account_open_date_diff,eservice_diff
0,240315173250 DAL1OA3M,0,10010009499,PP,IA PP TR,0,1.0,0.00,1,5/19/2013,5,2,1,E,0,1.0,0.00,1,5/19/2013,5,2,1,E,0,0,0,0,0,0,0,0,0
1,240315124742 DAL15XHK,1,10006021998,BA,IA BA TS nl TR,1,2.0,143.28,1,9/22/2003,5,2,1,E,0,2.0,143.28,1,9/22/2003,5,2,1,E,0,0,0,0,0,0,0,0,0
2,240317114237 DAL3BLK6,2,10016007830,PT,IA AA BA MR nl PT TR,0,12.0,0.00,1,9/4/2017,5,0,0,,0,12.0,0.00,1,9/4/2017,5,0,0,,0,0,0,0,0,0,0,0,0
3,240314120849 PHX6PL4U,1,10008003199,BA,IA BA,0,2.0,44.98,1,2/7/2024,5,2,0,L,0,2.0,-6.32,1,2/7/2024,5,2,0,L,0,0,1,0,0,0,0,0,0
4,240314145902 DAL68RYS,3,10013002037,BA,IA BA TS nl mm TR,1,6.0,7.00,1,1/2/2022,5,2,1,,0,6.0,7.00,1,1/2/2022,5,2,1,,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894160,240314120118 DAL2JPAQ,33,20012001463,BA,IA BA TA nl,0,14.0,1314.94,1,2/8/2022,5,2,0,,0,14.0,1314.94,1,2/8/2022,5,2,0,,0,0,0,0,0,0,0,0,0
894161,240314120336 DAL4K2UN,33,20012001463,BA,IA BA,0,14.0,1314.94,1,2/8/2022,5,2,0,,0,14.0,1314.94,1,2/8/2022,5,2,0,,0,0,0,0,0,0,0,0,0
894162,240316190932 PHX2S13U,25,20001160188,PP,IA PP TR,0,7.0,35.66,1,8/24/2023,5,2,0,,0,7.0,35.66,1,8/24/2023,5,2,0,,0,0,0,0,0,0,0,0,0
894163,240317213341 PHX35A2C,32,20010020211,FD,IA IA TR,1,8.0,386.63,1,5/15/2019,1,2,1,L,0,8.0,386.63,1,5/15/2019,1,2,1,L,0,0,0,0,0,0,0,0,0
894164,240316115154 PHX3G20E,32,20010013226,LS,IA AA BA TS nl LS nl nl LS TR,1,6.0,261.74,1,11/18/2018,5,0,1,E,0,6.0,261.74,1,11/18/2018,5,0,1,E,0,0,0,0,0,0,0,0,0