In [1]:
from preprocessor import preprocessor
import pandas as pd

df = pd.read_csv('../data/data.csv')

In [47]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
pp = preprocessor()
df = pp.process_na(df)
df = pp.classify_columns(df)

In [49]:
serial_vc = df['serial'].value_counts()
serial_g2 = serial_vc[serial_vc > 1].index
df_g2 = df[df['serial'].isin(serial_g2)]

In [50]:
s = df_g2['mos'].apply(lambda x: x.split(' '))
df_g2['mos'] = s
display(df_g2)

,retailer_code,serial,reason,mos,resolved,no_of_accounts_with_syf_13_march,account_balance_13_march,account_status_13_march,card_activation_status_13_march,eservice_ind_13_march,...,ebill_enrolled_status_18_march,auto_pay_enrolled_status_18_march,call_day,call_time,call_key,delinquency_current_13_march,delinquency_prior_13_march,delinquency_current_18_march,delinquency_prior_18_march,account_history_length
4,I,10013002037,BA,"[IA, BA, TS, nl, mm, TR]",0,6.0,7.00,N,0,1,...,,0,2024-03-14,1900-01-01 14:59:02,DAL68RYS,0,0,0,0,802
5,I,10013002037,PS,"[IA, BA, TS, nl, PS, nl, mt, RS, TR]",0,6.0,7.00,N,0,1,...,,0,2024-03-14,1900-01-01 15:13:23,PHX4I30S,0,0,0,0,802
7,B,10002094529,BA,"[IA, BA]",1,6.0,0.00,N,0,0,...,,0,2024-03-16,1900-01-01 17:13:47,PHX4I164,0,0,0,0,1280
8,B,10002094529,BA,"[IA, IA, IA, BA]",1,6.0,0.00,N,0,0,...,,0,2024-03-16,1900-01-01 17:19:45,DAL16OYM,0,0,0,0,1280
17,I,10013000316,BA,"[IA, AA, BA, MR, nl, TR]",0,2.0,8.37,N,7,0,...,,0,2024-03-14,1900-01-01 08:12:35,DAL1ROPP,0,0,0,0,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798787,f,20006017345,PP,"[IA, PP, TR]",1,3.0,479.33,N,0,0,...,,0,2024-03-15,1900-01-01 10:18:45,PHX3VAJ9,0,0,0,0,212
1798791,b,20002002187,PP,"[mn, IA, PP, TR]",1,9.0,680.86,N,0,0,...,N/A,0,2024-03-14,1900-01-01 07:53:00,PHX5SRLR,0,0,0,0,86
1798792,b,20002002187,BA,"[mn, IA, PP, BA, MR, nl, WA, nl, BA, nl, mt]",0,9.0,680.86,N,0,0,...,N/A,0,2024-03-14,1900-01-01 08:01:17,DAL3CVDQ,0,0,0,0,86
1798793,i,20012001463,BA,"[IA, BA, TA, nl]",1,14.0,1314.94,N,0,0,...,,0,2024-03-14,1900-01-01 12:01:18,DAL2JPAQ,0,0,0,0,765
1798794,i,20012001463,BA,"[IA, BA]",1,14.0,1314.94,N,0,0,...,,0,2024-03-14,1900-01-01 12:03:36,DAL4K2UN,0,0,0,0,765

In [52]:
df_g2 = df_g2.sort_values(by=['serial', 'call_day','call_time'])
recall_counts = df_g2.groupby(['serial','call_day'])['call_time'].apply(lambda x: x.shape[0])

In [55]:
df_rc = pd.merge(df_g2, recall_counts, on=['serial','call_day'], how='left')
display(df_rc)

,retailer_code,serial,reason,mos,resolved,no_of_accounts_with_syf_13_march,account_balance_13_march,account_status_13_march,card_activation_status_13_march,eservice_ind_13_march,...,auto_pay_enrolled_status_18_march,call_day,call_time_x,call_key,delinquency_current_13_march,delinquency_prior_13_march,delinquency_current_18_march,delinquency_prior_18_march,account_history_length,call_time_y
0,A,10001000001,IC,"[IA, BA, TS, nl, BA, nl, nl, mp, mm, IC]",1,3.0,2246.76,N,0,1,...,0,2024-03-13,1900-01-01 23:56:13,PHX6KLJV,0,0,0,0,1224,1
1,A,10001000001,BA,"[IA, BA]",1,3.0,2246.76,N,0,1,...,0,2024-03-16,1900-01-01 11:27:32,DAL7PM38,0,0,0,0,1227,4
2,A,10001000001,mp,"[IA, BA, TS, nl, nl, mp]",1,3.0,2246.76,N,0,1,...,0,2024-03-16,1900-01-01 12:23:42,PHX1H82J,0,0,0,0,1227,4
3,A,10001000001,mp,"[IA, BA, TS, nl, mp, TR]",1,3.0,2246.76,N,0,1,...,0,2024-03-16,1900-01-01 19:53:55,PHX2XRNF,0,0,0,0,1227,4
4,A,10001000001,PT,"[IA, BA, TS, nl, PT, TR]",1,3.0,2246.76,N,0,1,...,0,2024-03-16,1900-01-01 20:08:13,PHX2SWIT,0,0,0,0,1227,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505258,a,20049000005,BA,"[IA, PI, BA, mm, TR]",0,1.0,0.00,C,0,0,...,0,2024-03-14,1900-01-01 13:26:43,DAL2J3PH,0,0,0,0,595,3
505259,a,20049000005,BA,"[IA, BA, mm, TR]",0,1.0,0.00,C,0,0,...,0,2024-03-14,1900-01-01 15:01:20,PHX1H0GF,0,0,0,0,595,3
505260,a,20049000005,BA,"[IA, BA, mm, TR]",0,1.0,0.00,C,0,0,...,0,2024-03-14,1900-01-01 15:08:28,DAL7NO2B,0,0,0,0,595,3
505261,a,20049000010,BA,"[IA, PI, BA, mm, TR]",0,1.0,0.00,C,0,0,...,0,2024-03-15,1900-01-01 12:57:42,DAL2GMCS,0,0,0,0,2474,2
505262,a,20049000010,BA,"[IA, BA]",1,1.0,0.00,C,0,0,...,0,2024-03-15,1900-01-01 13:01:00,DAL30UPN,0,0,0,0,2474,2